	<!-- header section start -->
	<header class="header">
		<div class="container">
			<div class="row flexbox-center">
				<!-- <div class="col-lg-2 col-md-3 col-6">
                    <div class="logo">
                        <a href="#home"><img src="assets/img/logo.png" alt="logo" /></a>
                    </div>
                </div> -->
				<div class="col-lg-10 col-md-9 col-6">
					<div class="responsive-menu"></div>
					<div class="mainmenu">
						<ul id="primary-menu">
							<li>
								<a class="nav-link active" href="#home">Home</a>
							</li>
							<li>
								<a class="nav-link" href="#about">About</a>
							</li>
							<li>
								<a class="nav-link" href="#skills">Skills</a>
							</li>
							<li>
								<a class="nav-link" href="#product">Product</a>
							</li>
							<li>
								<a class="nav-link" href="#overview">Overview</a>
							</li>
							<li>
								<a class="nav-link" href="#blog">Blog</a>
							</li>
							<li>
								<a class="nav-link" href="#contact">Contact</a>
							</li>
							<li><a class="appao-btn" href="account/login">Login</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- header section end -->
	<!-- hero area start -->
	<section class="hero-area" id="home">
		<div class="hero-area-slider">
			<div class="hero-area-single-slide">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="hero-area-content">
								<h1>Welcom to the website</h1>
								<p> </p>
								<!-- <a href="#" class="appao-btn">Google Play</a>
									<a href="#" class="appao-btn">App Store</a> -->
							</div>
						</div>
						<div class="col-lg-5">
							<div class="hand-mockup text-lg-left text-center">
								<img src="/img/hand-mockup.png" alt="Hand Mockup" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hero-area-single-slide">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="hero-area-content">
								<p>Hi, I am</p>
								<h1>Truc</h1>
								<p>I am a web developer</p>
								<!-- <a href="#" class="appao-btn">Facebook</a>
									<a href="#" class="appao-btn">Slack</a> -->
							</div>
						</div>
						<div class="col-lg-5">
							<div class="hand-mockup text-lg-left text-center">
								<img src="/img/hand-mockup.png" alt="Hand Mockup" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hero-area-single-slide">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="hero-area-content">
								<p>My english name is</p>
								<h1>Ox</h1>
								<p>This is name of my first product</p>
								<a href="#" class="appao-btn">Google Play</a>
								<a href="#" class="appao-btn">App Store</a>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="hand-mockup text-lg-left text-center">
								<img src="/img/hand-mockup.png" alt="Hand Mockup" />
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- hero area end -->
    <!-- about section start -->
	<section class="about-area ptb-90" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="sec-title">
						<h2>About me
							<span class="sec-title-border">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</h2>
						<p>Full name: Vo Thi Thanh Truc</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="single-about-box">
						<i class="icofont icofont-ruler-pencil"></i>
						<h4>Profile</h4>
						<p>Birthdate: 18/04/1996</p>
						<p>Work address: Ho Chi Minh City, Viet Nam</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-about-box">
						<i class="icofont icofont-computer"></i>
						<h4>Education</h4>
						<p>Information Technology Faculty, University of Science Ho Chi Minh City</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-about-box">
						<i class="icofont icofont-headphone-alt"></i>
						<h4>Hobby</h4>
						<p>Traveling</p>
						<p>Playing sports, games</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- about section end -->
	<!-- feature section start -->
	<section class="feature-area ptb-90" id="skills">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ski-title">
                        <h2>My skills</h2>
                    </div>
                </div>
            </div>
			<div class="row flexbox-center">
				<div class="col-lg-4">
					<div class="single-feature-box text-lg-right text-center">
						<ul>
							<li>
								<div class="feature-box-info">
									<h4>Front-end</h4>
									<p>HTML5, CSS, Javascript, Bootstrap, Jquery</p>
								</div>
								<div class="feature-box-icon">
									<i class="icofont icofont-eye"></i>
								</div>
							</li>
							<li>
								<div class="feature-box-info">
									<h4>Back-end</h4>
									<p>ASP.NET MVC Entity Framework, NodeJs MVC</p>
								</div>
								<div class="feature-box-icon">
									<i class="icofont icofont-ship-wheel"></i>
								</div>
							</li>
							<li>
								<div class="feature-box-info">
									<h4>Design Pattern</h4>
									<p>MVC, Dependence injection</p>
								</div>
								<div class="feature-box-icon">
									<i class="icofont icofont-law-document"></i>
								</div>
							</li>
							<li>
								<div class="feature-box-info">
									<h4>Analysis &amp; Design Database</h4>
									<p>SQL server, MySQL, Oracle</p>
								</div>
								<div class="feature-box-icon">
									<i class="icofont icofont-heart-beat"></i>
								</div>
							</li>
							
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-feature-box text-center">
						<img src="/img/person.png" alt="feature">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-feature-box text-lg-left text-center">
						<ul>
							<li>
								<div class="feature-box-icon">
									<i class="icofont icofont-iphone"></i>
								</div>
								<div class="feature-box-info">
									<h4>Mobile App</h4>
									<p>Xamarin</p>
								</div>
							</li>
							<li>
								<div class="feature-box-icon">
									<i class="icofont icofont-sun-alt"></i>
								</div>
								<div class="feature-box-info">
									<h4>...</h4>
									<p>.....................</p>
								</div>
							</li>
							<li>
								<div class="feature-box-icon">
									<i class="icofont icofont-imac"></i>
								</div>
								<div class="feature-box-info">
									<h4>Desktop App</h4>
									<p>Eclipse RCP (Rich Client Platform)</p>
								</div>
							</li>
							<li>
								<div class="feature-box-icon">
									<i class="icofont icofont-brush"></i>
								</div>
								<div class="feature-box-info">
									<h4>Java Framework</h4>
									<p>E4, SWT (Jface)</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- feature section end -->
	<!-- screenshots section start -->
	<section class="screenshots-area ptb-90" id="product">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="sec-title">
						<h2>Ox
							<span class="sec-title-border">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</h2>
						<p>Description app</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="screenshot-wrap">
						<div class="single-screenshot">
							<img src="/img/screenshot/screenshot1.jpg" alt="screenshot" />
						</div>
						<div class="single-screenshot">
							<img src="/img/screenshot/screenshot2.jpg" alt="screenshot" />
						</div>
						<div class="single-screenshot">
							<img src="/img/screenshot/screenshot3.jpg" alt="screenshot" />
						</div>
						<div class="single-screenshot">
							<img src="/img/screenshot/screenshot4.jpg" alt="screenshot" />
						</div>
						<div class="single-screenshot">
							<img src="/img/screenshot/screenshot5.jpg" alt="screenshot" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- screenshots section end -->
	<!-- counter section start -->
	<section class="counter-area ptb-90">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="single-counter-box">
						<i class="icofont icofont-heart-alt"></i>
						<h1>
							<span class="counter">9798</span>
						</h1>
						<p>View number</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-counter-box">
						<i class="icofont icofont-protect"></i>
						<h1>
							<span class="counter">9798</span>
						</h1>
						<p>Like number</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-counter-box">
						<i class="icofont icofont-download-alt"></i>
						<h1>
							<span class="counter">979</span>K</h1>
						<p>Apps Download</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-counter-box">
						<i class="icofont icofont-trophy"></i>
						<h1>
							<span class="counter">250</span>
						</h1>
						<p>dgdsg</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- counter section end -->
	<!-- showcase section start -->
	<section class="showcase-area ptb-90" id="overview">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="sec-title">
						<h2>Overview
							<span class="sec-title-border">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
					</div>
				</div>
			</div>
			<div class="row flexbox-center">
				<div class="col-lg-6">
					<div class="single-showcase-box">
						<h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi ut aliquip </p>
						<a href="#" class="appao-btn appao-btn2">Read More</a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="single-showcase-box">
						<img src="/img/showcase.png" alt="showcase">
					</div>
				</div>
			</div>
			<div class="row flexbox-center">
				<div class="col-lg-6">
					<div class="single-showcase-box">
						<img src="/img/showcase2.png" alt="showcase">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="single-showcase-box">
						<h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi ut aliquip </p>
						<a href="#" class="appao-btn appao-btn2">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- showcase section end -->
	<!-- video section start -->
	<section class="video-area ptb-90">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="video-popup">
						<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
							<i class="icofont icofont-ui-play"></i>
						</a>
						<h1>Watch Video Demo</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- video section end -->
	<section class="blog-area ptb-90" id="blog">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="sec-title">
						<h2>Blog Post
							<span class="sec-title-border">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
					</div>
				</div>
			</div>
			<div class="row">
				{{#each blog}}
				<div class="col-lg-4 col-md-6">
					<div class="single-post">
						<div class="post-thumbnail">
							<a href="blog">
								<img src="/img/blog/{{blogImage}}" alt="blog">
							</a>
						</div>
						<div class="post-details">
							<div class="post-author">
								<a href="#">
									<i class="icofont icofont-user"></i>{{username}}</a>
								<a href="#">
									<i class="icofont icofont-speech-comments"></i>{{blogComment}}</a>
								<a href="#">
									<i class="icofont icofont-calendar"></i>{{blogDate}}</a>
							</div>
							<h4 class="post-title">
								<a href="blog">{{blogTitle}}</a>
							</h4>
							<p>{{blogContent}}</p>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
            <div class="row" align="float">
                <div class="col-lg-12" >
                    <div class="sec-blog">
                        <button class="btn btn-secondary"><a href="blog" class="appao-btn">Go to Blog Page <i class="icofont icofont-hand-drag1"></i></a></button>
                    </div>
                </div>
            </div>
		</div>
	</section>
	<!-- blog section end -->
	<!-- google map area start -->
	<div class="google-map"></div>
	<!-- google map area end -->